<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Retention 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140221

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Karla:400,700"
	rel="stylesheet" />
<link href="/css/default.css" rel="stylesheet" type="text/css"
	media="all" />
<link href="/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
	<div id="wrapper">
		<div id="header-wrapper">
			<div id="header" class="container">
				<div id="logo">
					<p>
						<h1>
							<b><i>M.O.P.P. Academy</i></b>
						</h1>
					</p>
				</div>
				<div id="banner">
					<a href="#" class="image"><img src="/images/pic01.jpg" alt="" /></a>
				</div>
			</div>
		</div>
		<div id="menu-wrapper">
			<div id="menu" class="container">
				<ul>
					<li class="current_page_item"><a href="/">Home</a></li>
					<li><a href="/chisiamo">Chi siamo</a></li>
					<li><a href="/offertaformativa">Offerta formativa</a></li>
					<li><a href="/doveandare">LOGIN</a></li>
				</ul>
			</div>
			<!-- end #menu -->
		</div>
		<div id="page" class="container">
				<div class="title">
					<h2>Un aiuto per trovare lavoro</h2>
				</div>
				<p>
				    Il nostro obiettivo, in base ai programmi predisposti dagli
					Organi competenti, è facilitare l’inserimento nel mondo del lavoro
					degli inoccupati e disoccupati, contribuendo alla crescita della
					personalità e delle capacità tecnico-professionali dei lavoratori
					già occupati. Ciò si articola in diversi punti: <br>
					a) Organizzare,
					sulla base di un piano annuale di intervento, e eventualmente anche
					in collaborazione con il Comitato Esecutivo per il Lavoro e la
					Formazione, l’attività di formazione professionale al lavoro (prima
					formazione) attraverso azioni didattico-formative finalizzate al
					conseguimento di una qualifica, anche in ottemperanza agli obblighi
					previsti dalla normativa vigente;<br>
				    b) Organizzare attività di
					formazione sul lavoro (seconda formazione) mediante azioni di
					aggiornamento, riqualificazione / riconversione e integrazione di
					corsi di studio, anche per il conseguimento di certificati
					abilitanti all’esercizio di specifiche professioni;<br>
					c) Favorire
					l’inserimento lavorativo dei lavoratori iscritti nelle apposite
					liste di avviamento al lavoro, attraverso un sistema di interventi
					formativi finalizzati alla diffusione di conoscenze
					teorico-pratiche necessarie per svolgere ruoli professionali;<br>
					d)
					Curare, in collaborazione con le Associazioni di Categoria e le
					Imprese, lo studio e la realizzazione di specifici programmi di
					formazione;<br>
					e) Curare l’attività di pubblicazione e
					pubblicizzazione delle iniziative di formazione professionale
					promosse e svolgere, in collaborazione con i vari ordini
					scolastici, attività di orientamento;<br>
					f) Svolgere le attività
					demandate dalle norme sugli ammortizzatori sociali e sulla gestione
					del mercato del lavoro;<br>
					g) Curare l’espletamento di qualsiasi altra
					attività od incarico correlati alle precedenti o previsti dalla
					normativa vigente.</p>
			</div>
			<div id="sidebar"></div>
		</div>
		<div id="portfolio-wrapper">
			<div id="portfolio" class="container">
				<div id="column1">
					<img src="/images/scuola1.jpg" alt="" />
					<p>Viale Cerceto 47, 03100, Frosinone (FR)</p>
					<a href="#" class="icon icon-plus-sign button">Google Maps</a>
				</div>
				<div id="column2">
					<img src="/images/scuola2.jpg" alt="" />
					<p>Via Vittorio Alfieri 23, 00053, Civitavecchia (RM)</p>
					<a href="#" class="icon icon-plus-sign button">Google Maps</a>
				</div>
				<div id="column3">

					<img src="/images/scuola3.jpg" alt="" />
					<p>Viale dell'Oceano Pacifico 51, 00144, Roma (RM)</p>
					<a href="#" class="icon icon-plus-sign button">Google Maps</a>
				</div>
				<div id="column4">
					<img src="/images/scuola4.jpg" alt="" /></a>
					<p>Piazza Indipendenza 14, 00071, Pomezia (RM)</p>
					<a href="#" class="icon icon-plus-sign button">Google Maps</a>
				</div>
			</div>
		</div>
</body>
</html>