<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Retention 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140221

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Offerta formativa</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Karla:400,700"
	rel="stylesheet" />
<link href="/css/default.css" rel="stylesheet" type="text/css"
	media="all" />
<link href="/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
	<div id="wrapper">
		<div id="header-wrapper">
			<div id="header" class="container">
				<div id="logo">
					<p>
						<h1>
							<b><i>OFFERTA FORMATIVA</i></b>
						</h1>
					</p>
				</div>
			</div>
		</div>
		<div id="menu-wrapper">
			<div id="menu" class="container">
				<ul>

					<li><a href="/">Home</a></li>
					<li><a href="/chisiamo">Chi siamo</a></li>
					<li class="current_page_item"><a href="#">Offerta
							formativa</a></li>
					<li><a href="/doveandare">LOGIN</a></li>
				</ul>
			</div>
			<!-- end #menu -->
		</div>
		<div id="page" class="container">
			<div class="title">
				<h2>Una vasta scelta di corsi</h2>
			</div>
			<P>Tra le proposte formative della nostra azienda sono da
				segnalare i Corsi di Formazione Professionale, gestititi in
				convenzione con la Regione Lazio. Questi offrono ai ragazzi la
				possibilità di completare l’obbligo scolastico e formativo,
				attraverso corsi gratuiti nei quali si integrano conoscenze
				scolastiche di base con attività di natura tecnico-pratica, in modo
				da favorire l’inserimento nel mondo del lavoro. Per gli adulti sono
				invece disponibili Corsi di Formazione incentrati, ad esempio,
				sull'apprendimento delle basi dell'Informatica e delle Lingue, con
				attestati riconosciuti sia dalla Regione Lazio che dagli enti di
				competenza.</P>
			Tutti i corsi (con relativi dettgli): <a href="/tutteleattivita">
				CLICCA QUI </a><br> Tutti i centri (con relativi dettagli): 
			<a href="/tuttiCentri"> CLICCA QUI </a>
		</div>
	</div>
	<div id="sidebar"></div>
	</div>
	<div id="portfolio-wrapper">
		<div id="portfolio" class="container">
			<div id="column1">
				<img src="/images/scuola1.jpg" alt="" />
				<p>Viale Cerceto 47, 03100, Frosinone (FR)</p>
				<a href="#" class="icon icon-plus-sign button">Google Maps</a>
			</div>
			<div id="column2">
				<img src="/images/scuola2.jpg" alt="" />
				<p>Via Vittorio Alfieri 23, 00053, Civitavecchia (RM)</p>
				<a href="#" class="icon icon-plus-sign button">Google Maps</a>
			</div>
			<div id="column3">

				<img src="/images/scuola3.jpg" alt="" />
				<p>Viale dell'Oceano Pacifico 51, 00144, Roma (RM)</p>
				<a href="#" class="icon icon-plus-sign button">Google Maps</a>
			</div>
			<div id="column4">
				<img src="/images/scuola4.jpg" alt="" /></a>
				<p>Piazza Indipendenza 14, 00071, Pomezia (RM)</p>
				<a href="#" class="icon icon-plus-sign button">Google Maps</a>
			</div>
		</div>
	</div>
</body>
</html>
